page-welcome {
    .scroll-content {
        background: color($colors, alt);

        .imagen {
            height:100%;
        }

        .swiper-slide {
            align-items: flex-start;
        }

        .swiper-pagination-bullet {
            background: white;
            opacity: .2;
        }

        .swiper-pagination-bullet-active {
            opacity: .8;
        }

        .transparent {
            background: transparent;
        }

        .slide-zoom {
            height:100%;
        }
       

        ion-toolbar {
            position: absolute;
            .toolbar-background {
                background: transparent;
                border: none;
            }
             .button-class {
                background-color: white;
                color: color($colors, primary);
                margin-right: .5em;
                
            }
        }
    }
}
