<!--
  Generated template for the ArticlePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{article.title}}</ion-title>

    <!-- <ion-buttons end *ngIf="user">
      <button ion-button clear *ngIf="!likedByUser" (click)="like()">
        <ion-icon color="light" name="heart-outline"></ion-icon>
      </button>
      <button ion-button clear *ngIf="likedByUser" (click)="unLike()">
        <ion-icon color="light" name="heart"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides pager>
    <ion-slide *ngFor="let image of article.images" [ngStyle]="{'background': getBackground(image)}"
      [ngStyle]="{'background-size': 'cover'}">
      <!-- <div class="article-header" padding>
        <h2 class="title">{{article.title}}</h2>
        <p class="category">{{category[article.category]}}</p>
        <h2 *ngIf="article.price" class="price">${{article.price}}</h2>
      </div> -->
    </ion-slide>
  </ion-slides>

  <!-- <ion-card>
    <ion-card-content>

      <ion-row>
        <ion-col size="6" class="likeRow">
          {{ amountOfLikes }}
        </ion-col>
        <ion-col size="6">
          <button ion-button clear *ngIf="!likedByUser" (click)="like()">
            <ion-icon color="primary" name="heart-outline"></ion-icon>
          </button>

          <button ion-button clear *ngIf="likedByUser" (click)="unLike()">
            <ion-icon color="primary" name="heart"></ion-icon>
          </button>
        </ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card> -->

  <!-- <ion-card *ngIf="article.content">
    <ion-card-content [innerHTML]="article.content" >
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="(article.video) && (article.video != '')">
    <ion-item (click)="openVideo()">
      <ion-icon item-start name="ios-videocam" color="primary"></ion-icon>
      <h2>Ingresa al video</h2>
      <ion-icon item-end name="ios-arrow-forward" color="primary"></ion-icon>
    </ion-item>
  </ion-card>
  <ion-card *ngIf="(article.pdf) && (article.pdf != '')">
    <ion-item (click)="openFile()">
      <ion-icon item-start name="document" color="primary"></ion-icon>
      <h2>Documento</h2>
      <ion-icon item-end name="ios-arrow-forward" color="primary"></ion-icon>
    </ion-item>
  </ion-card> -->
</ion-content>

<ion-footer *ngIf="article.title == 'Bandas'">
  <button ion-button block icon-left (click)="openVideo()">
    <ion-icon name="play"></ion-icon>
    Ver video
  </button>
</ion-footer>
<ion-footer *ngIf="article.title == 'Lugar'">
  <button ion-button block icon-left (click)="seeMap()">
    <ion-icon name="map"></ion-icon>
    Ver en mapa
  </button>
</ion-footer>
<ion-footer *ngIf="article.title == 'Entradas'">
  <button ion-button block icon-left (click)="goProfile()">
    <ion-icon name="flame"></ion-icon>
    Solicitá tu entrada!
  </button>
</ion-footer>
<ion-footer *ngIf="article.title == 'Ayuda'">
  <button ion-button block icon-left (click)="seeInsta()">
    <ion-icon name="logo-instagram"></ion-icon>
    Instagram
  </button>
</ion-footer>
